# Ignore all Java class files
*.class

# Ignore specific files
full_dataset.csv
FinalGraph_V4.csv
FinalEdges_All.csv
SourceToDests_V3.csv
Output_NN_In_V7.csv
Output_OneHot_V7.csv
x_V7.npy
y_V7.npy
x_V8.npy
y_V8.npy
Output_NN_In_V8.csv
Output_OneHot_V8.csv
CombinedNewData.csv
~$eps to recreate results for ANN.docx
~WRL0003.tmp
CombinedNewData1.csv
CombinedNewData2.csv